footer {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0;
}

footer::before {
    content: '';
    background: black;
    width: 80vw;
    height: 1px;
    position: absolute;
}

.iconFooter {
    width: 30px;
    height: 30px;
}

.nav, .icon {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    align-items: center;
}

.navA {
    font-size: 1em;
}

@media(max-width: 750px) {
    .nav, .icon {
        gap: 15px;
    }
}
@media(max-width: 475px) {
    .icon .navA {
        display: none;
    }
}

@media(max-width: 320px) {
    .icon {
        display: none;
    }

    .nav {
        font-size: small;
    }
}